---
layout: wide
title: 课程专题
permalink: /collections/
header: 课程专题
---


<div class="header-view">
  <div class="static-banner">
    <div class="banner-content">
      <div class="banner-title">{{ page.title }}</div>
    </div>
  </div>
</div>

<div class="container post" style="position: relative; padding-top: 30px;">
  <article>
    <div class="post-content">
      <div class="collections row">
        {% for post in site.posts %}
          {% if post.type == "collection" %}
            <div class="col-md-3">
              <a href="{{ post.url }}" class="collection-cover" style="background-image: url({{ post.cover }})"></a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </article>
</div>