---
layout: wide
title: 全部课程
permalink: /courses/
header: 全部课程
---

<div class="header-view">
  <div class="static-banner">
    <div class="banner-content">
      <div class="banner-title">{{ page.title }}</div>
    </div>
  </div>

  <div class="nav-tabs">
    <div class="container">
    <div class="nav-tab-item">
      <a href="#教师思变力">教师思变力</a>
    </div>
    <div class="nav-tab-item">
      <a href="#校长领导力">校长领导力</a>
    </div>
    <div class="nav-tab-item">
      <a href="#大家说">大家说</a>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <article>
    <h2 id="教师思变力">教师思变力</h2>
    <div class="row">
      {% assign courses = site.courses | where: "category", "教师思变力" | sort: "date" %}
      {% for course in courses %}
          <div class="col-md-3 col-sm-6">{% include course-item.html course=course %}</div>
      {% endfor %}
    </div>

    <h2 id="校长领导力">校长领导力</h2>
    <div class="row">
      {% assign courses = site.courses | where: "category", "校长领导力" | sort: "date" %}
      {% for course in courses %}
          <div class="col-md-3">{% include course-item.html course=course %}</div>
      {% endfor %}
    </div>

    <h2 id="大家说">大家说</h2>
    <div class="row">
      {% assign courses = site.courses | where: "category", "大家说" | sort: "date" %}
      {% for course in courses %}
          <div class="col-md-3">{% include course-item.html course=course %}</div>
      {% endfor %}
    </div>
  </article>
</div>