<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{site.title}}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="apple-touch-icon" sizes="152x152" href="//img.mayun.xin/upload/2018052909/fe34a62f1a53576c05e3ac067b22ddff.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//img.mayun.xin/upload/2018052909/681fabfbd012b584c38affd229f17a6e.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//img.mayun.xin/upload/2018052909/6a090c43dee2aaaaa71f3a62fcbc46ce.png">
  <link rel="shortcut icon" href="//img.mayun.xin/upload/2018052909/9823185cefe8dc79ef1eff8f93fc2f8b.ico">
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="https://static.mayun.xin/300logo.png" />
  <meta property="og:description" content="{{ site.description }}" /> 
  <meta property="og:site_name" content="{{ site.title }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@foundation_ma">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}" /> 
  <meta name="twitter:image" content="https://static.mayun.xin/300logo.png">

  <meta name="keywords" content="Jack Ma Foundation, Jack Ma, 马云公益基金会, jackmafoundation.org.cn, Mayun">

  <link rel="stylesheet" href="{{ "assets/swiper/css/swiper.min.css" | prepend: site.qiniu }}">
  <link rel="stylesheet" href="{{ "assets/bootstrap/css/bootstrap.min.css" | prepend: site.qiniu }}">
  <link rel="stylesheet" href="{{ "assets/css/font-awesome.min.css" | prepend: site.qiniu }}">
  <link rel="stylesheet" href="{{ "assets/css/app.css" | prepend: site.qiniu }}?{{ site.time | date: '%s%N' }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="//at.alicdn.com/t/font_1829284_u75ezuqdspk.css">
  <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.8.2/skins/default/aliplayer-min.css" />
  
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <!-- <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
</head>
