<ul class="tabbar-menu">
  <li class="{% if page.url == '/our-work/#education' %}active{% endif %}"><a href="/our-work/#education">教育</a></li>
  <li class="{% if page.url == '/our-work/#entrepreneurship/' %}active{% endif %}"><a href="/our-work/#entrepreneurship">企业家精神</a></li>
  <li class="{% if page.url == '/our-work/#medical' %}active{% endif %}"><a href="/our-work/#medical">医疗环保</a></li>
  <li class="{% if page.url == '/our-work/#women-leadership' %}active{% endif %}"><a href="/our-work/#women-leadership">女性领导力</a></li>
</ul>