/**
 * Custom
 **/

$brandColor: #ff7200;
$secondaryColor: #1B2B4F;

@font-face{font-family:Bulter;src:url("/assets/fonts/Butler_Regular.otf");font-weight:400}
@font-face{font-family:Bulter;src:url("/assets/fonts/Butler_Medium.otf");font-weight:700}
@font-face{font-family:Bulter;src:url("/assets/fonts/Butler_ExtraBold.otf");font-weight:800}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #222;
  font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}


.font-serif {
  font-family: Bulter,QingKe,sans-serif,SimSun;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: #212D47;
  &:hover {
    color: $brandColor;
  }
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  transition: color .3s linear;
}

.navbar {
  min-height: 80px;
  margin-bottom: 0px;
  border-radius: 0;
  z-index: 1000;
  display: block;
  background: white;
  border: none;

  .navbar-header {
    h1 {
      margin: 0px;
    }
    .navbar-toggle {
      margin-top: 14px;
      border: none;
      &:hover {
        background: none;
      }
    }
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    font-weight: 700;
    color: #555;

    .logo {
      margin: 15px 0;
      width: 170px;
      height: 50px;
      background: url(https://img.mayun.xin/upload/2018082213/6ffa96cf74bb386c7bd9c4339b924861.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .navbar-nav {
    float: right;
    margin-right: -15px;
    li {
      margin-left: 10px;
      a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 80px; 
        height: 80px;
        font-size: 16px;
        padding: 0 5px;
        margin: 0 10px;

        &:hover {
          color: $brandColor;
        }
      }
      &.active {
        a {
          background: none;
          font-weight: bold;
          &:hover {
            background: none;
          }
        }
      }
    }
    &.navbar-social{
      margin-top: 18px;
      span {
        margin-left: 5px;
      }
    }
  }

  &.navbar-inverse {
    .navbar-nav {
      li {
        a {
          color: white;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
    .navbar-brand {
      .logo {
        background-image: url(https://img.mayun.xin/upload/2018082207/2eb1ce0a685923426ee1ee60756c7aef.png);
      }
    }
  }

  &.navbar-transparent {
    background: transparent;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}


a {
  &:hover {
    text-decoration: none;
  }
}

.page-content {
  padding-bottom: 0;
  position: relative;

  .page {
    padding-bottom: 60px;
    position: relative;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.center {
  text-align: center;
}

.banner {
  background: #f4f5f8;
  background-size: cover;
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .banner-image {
    position: relative;
    width: 100%;
    height: 240px;
    background-position: center;
    background-size: cover;

    &::after {
      background: rgba(21,28,51,0.2);
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  .banner-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .banner-content {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    .page-title {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2;
      margin: 0;

      &::before {
        content: ' ';
        position: absolute;
        top: -18px;
        left: 2px;
        height: 5px;
        width: 28px;
        background: $brandColor;
      }
    }
    .page-subtitle {
      margin-top: 10px;
      opacity: 0.6;
    }
  }

  @media screen and (max-width: 768px) {
    .banner-content {
      .page-title {
        font-size: 24px;
      }
      .page-subtitle {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 180px;
  }
}

.banner.post-banner {
  .banner-body.container {
    max-width: 700px;
    .banner-content {
      text-align: left;
      .page-subtitle {
        opacity: 0.6;
      }
    }
  }
}


@media screen and (max-width: 768px) {

  .banner {
    .banner-content {
      h2 {
        font-size: 20px;
      }
    }
  }
}

.cbox {
  background: #fff;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;

  .box-title {
    border-bottom: 1px solid #f2f2f2;
    margin: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    margin-top: -5px;
    padding-left: 20px;

    h2 {
      margin: 0 !important;
      font-size: 16px;
      display: inline-block;
      border-bottom: 2px solid #27ae60;
      padding-bottom: 14px;
    }
  }

  ul {
    margin: 0;
  }
}

.sidebar {
  margin-top: 5px;
  overflow: hidden;
  .cbox {
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    ul {
      list-style: none;
      padding: 0;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.nopad {
  padding: 0 !important;
}


/***  Post ***/

.page {
  padding-top: 40px;
}

.post {
  font-size: 16px;
}

.post-list {
  margin: 0 -25px;
  .col-md-4 {
    padding: 0 25px;
  }
}

.post-item {
  min-height: 320px;
  display: block;
  overflow: hidden;  
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  margin-bottom: 50px;
  .post-item-cover {
    display: block;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 2px;
    background-position: center;
    border: 1px solid #fafafa;
  } 
  .post-item-body {
    padding: 15px;
    .post-item-title {
      font-size: 16px;
      font-weight: bold;
    }
  }
}


ul.post-list {
  margin-inline-start: 0;
  padding-inline-start: 0;
  li {
    list-style-type: none;
    border-top: 1px solid #f3f3f3;
    padding: 0;
  }
  li:last-child {
    border-bottom: 1px solid #f3f3f3;
  }

  @media screen and (max-width: 768px) {
    padding-right: 0;
    li {
      border-top: none;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

.page-posts {
  .cbox {
    border: 1px solid #f3f3f3;
  }

  .twitter-timeline-pc {
    display: inline-block;
  }

  .twitter-timeline-mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .twitter-timeline-mobile {
      display: block;
    }

    .twitter-timeline-pc {
      display: none;

      .col-sm-8 {
        padding: 0;
      }
    }
  }
}

.post.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto; 
  position: relative;

  .post-header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}


.sec {
  .sectitle {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 800;
  }   
}


article {
  a {
    color: $brandColor;
  }

  p {
    line-height: 1.8;
    margin-bottom: 15px;
  }

  img {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h1, h2, h3 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2, h3 {
    font-size: 20px;   
  }

  h3 {
    margin-top: 50px;
  }

  h4 {
    font-size: 16px;
    line-height: 40px;
  }

  h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
    margin-top: 50px;
  }

  blockquote {
    font-size: inherit;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #888;
    font-size: 15px;
    p {
      margin-bottom: 0px;
    }
  }

  table {
    font-size: 15px;
    width: 100%;
  }

  ul, ol {
    margin-bottom: 25px;
    line-height: 1.6;
    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  hr {
    height: 1px;
    width: 20%;
    margin: 50px auto;
    border-top: 1px solid #e4e4e4;
  }

  code {
    color: #27ae60;
  }

  pre code {
    color: inherit;
  }
}

.prism-player {
  margin: 15px 0;
}


.cbox {
  padding: 20px;
}

.title-box,
.posts-category,
.startup-progress {
  padding: 20px;
  ul {
    padding: 0;
    list-style: none;
  }
}




.aids {
  .panel-group {
    border: none;
    margin: 0 -15px;
    display: none;
  }
  .panel-country {
    margin: 2px 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;

    .panel-heading {
      padding: 15px;
      background: #f5f5f5;
      border: none;

      h4 {
        font-weight: 500;
      }

      .toggle-indicator-icon {
        margin-right: 15px;
      }

      .collapsed {
        .toggle-indicator-icon {
          transform: rotate(-90deg);
        }
      }
    }

    .panel-collapse {
      .panel-body {
        border: none;
      }
    }

    .supply-item {
      padding: 10px 0;
      .line {
        display: block;
        overflow: hidden;
        margin: 5px 0;
        .label {
          color: #333;
          font-size: 14px;
          font-weight: normal;
          width: 100px;
          text-align: left;
          color: #666;
          font-style: italic;
          float: left;
        }
        .value {
          font-size: 14px;
          margin-left: 100px;
          display: block;
        }
      }
    }

    hr {
      margin: 10px 5px;
    }
  }

}












/** Service **/

.page {
  a {
    
  }
  .main-content {
    h1.title {
      font-size: 24px;
      margin-top: 0 !important;
      margin-bottom: 40px;
    }
  }
  ul.member-list {
    float: left;
    list-style: none;
    padding: 0;
    li {
      float: left;
      
      padding-right: 30px;
      font-size: 13px;
      line-height: 20px;

      .member-body {
        h3 {
          margin-top: 5px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px; 
          margin-bottom: 5px;
        }
      }

    }
  }
  .sidebar {
    .cbox {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
    }
    ul {
      padding: 0 !important;
      li {
        line-height: 30px;
        display: inline-block;
        width: 100%;
        a {
          display: block;
          line-height: 50px;
          i {
            width: 30px;
            &.right-arrow {
              display: none;
              float: right;
              margin: 0 auto;
              line-height: 50px;
              font-size: 14px;
              text-align: end;
            }
          }
        }
        &.active {
          a {
            font-weight: bold;
            &:hover {
              color: #333;
            }
            i.right-arrow {
              display: inline;
              color: #27ae60;
            }
          }
        }
      }

    }
  }
}


table {
  margin-top: 15px;
  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  td, th {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
}

.full {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .startup-list {
    li {
      width: 50%;
      .item {
        .item-cover {
          height: 180px;
          img {
            min-height: 180px;
          }
        }
      }
    }
  }
  .startup-header {
    .startup-cover {
      height: auto;
      img {
        width: 100%;
      }
    }
  }
  .startup {
    .startup-main {
      .team {

      }
    }
  }
  .page { 
    .left-divider {
      padding-left: 15px;
      border-left: none;
    }
    .sidebar {
      padding-right: 15px;
      text-align: center;
      margin-top: -20px;
    }
    ul.member-list {
      li {
        width: 50%;
      }
    }
  }
  .page {
    .sidebar {
      text-align: inherit;
      .cbox {
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #f5f5f5;
      }
      ul li {
        text-align: center;
        width: 49%;
        a {
          line-height: 60px;
          i {
            margin-left: -10px;
          }
        }
        &.active {
          a {
            color: #27ae60;
          }
          a i.right-arrow {
            display: none;
          }
        }
        &:hover a {
          color: #27ae60;
        }
      }
    }
  }
}

.clearfix {
  clear: left;
}

@media screen and (max-width: 768px) {
  body {
    font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,STHeiti,Microsoft Yahei,Tahoma,Simsun,sans-serif;
  }

  .navbar {
    min-height: 60px;
    z-index: 1000;
    .container {
      padding: 0 15px;
    }
    .navbar-nav {
      float: none; 
      li {
        margin-left: 0;
        a {
          &:hover {
            border-color: transparent;
            background: #f3f3f3;
          }
        }
        &.active a {
          border-color: transparent;
        }
      }
    }

    .navbar-brand {
      height: 60px;
      line-height: 60px;
      .logo {
        margin: 15px 0;
        height: 30px;
        margin-left: -5px;
      }
    }

    .navbar-collapse {
      border: none;
      position: absolute;
      left: 15px;
      right: 15px;
      background: white;
      z-index: 100;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;

      .navbar-nav li a {
        height: 60px;
        line-height: 60px;
        color: #333;
        font-weight: bold;
        padding: 0 20px;
        margin: 0;
      }
    }
    
  }
  
  .startup-list {
    li {
      width: 100%;
    }
  }
  ul.member-list {
    li {
      width: 100%;
    }
  }
  .index-banner {
    height: 440px;
    .container {
      padding-top: 0;
    }
    .slogan {
      font-size: 24px;
      margin-top: 210px;
    }
    .slogan-description {
      font-size: 12px;
    }
    .btn {
      margin-top: 10px;
      padding: 6px 30px;
      font-size: 12px;
    }
  }
  .page {
    padding-top: 20px;
    .cbox {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .sec .sectitle {
    margin-bottom: 35px;
    font-size: 20px;
  }
}



/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: rgb(130, 130, 130);
    }
  }
}


/** jinshuju **/

.jinshuju {
  border: 1px solid #eee;
  padding: 20px;
}


.card {
  background: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  min-height: 230px;
  .card-img-top {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .card-body {
    padding: 15px;
    .card-title {
      font-size: 16px;
      font-weight: bold;
      color: #353535;
    }
    .card-text {
      font-size: 14px;
      margin: 8px 0 0 0;
      color: #888787;
    }
  }
}

.card.post-item {
  min-height: 300px;
  .card-body {
    padding: 15px 0;
    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.headline {
  margin: 50px 0 50px 0;
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    background-image: linear-gradient(-45deg, #FFFAF3 0%, #FFCE94 100%);
    width: 32px;
    height: 24px;
    top: -4px;
    z-index: -1;
    left: -8px;
    border-radius: 2px;
  }
  .headline-title {

  } 
  .headline-subtitle {
    line-height: 2;
    font-size: 16px;
  } 
  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-left: 8px;
    &::after {
      left: -8px;
      width: 24px;
      height: 20px;
    }
  }
}

a:focus {
  outline: none;
  outline-offset: -2px;
}


// 业务样式

.card.program-item {
  margin-bottom: 30px;
  border-radius: 0;
  // box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
  transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
  transition-delay: .1s;
  min-height: 280px;
  &:hover {
    // box-shadow: 0 8px 18px rgba(0,0,0,.06);
    transform: translateY(-4px);
  }
  .card-img-top {
    border-radius: 2px;
    height: 200px;
  }
  .card-body {
    padding: 15px 0;
  }
  .tag {
    // position: absolute;
    // bottom: 12px;
    // right: 12px;
    font-weight: normal;
    font-size: 13px;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 2px 6px;
    line-height: 1;
    color: white;
    margin-right: 2px;
  }
}

.card.post-grid-item {
  .card-body {
    padding: 15px 0;
    .card-title {
      font-size: 16px;
      font-weight: normal;
    }
    .card-text {
      font-size: 14px;
    }
  }
}

.card.post-grid-item.post-video-item {
  min-height: 270px;
  .card-img-top {
    height: 160px;
    border-radius: 4px;
    .card-tag-video {
      position: absolute;
      right: 16px;
      bottom: 12px;
      font-size: 24px;
      color: white;
    }
  }
  .card-body {
    .card-title {
      line-height: 1.6;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &:hover {
    .card-img-top::after {
      content: ' ';
      background: rgba(0,0,0,0.05);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .card-body {
      .card-title {
        color: #ff7200;
      }
    }
  }
}

.video-wrap {
  @media screen and (max-width: 768px) {
    padding: 8px;
    &:nth-child(odd) {
      padding-left: 16px;
    }
    &:nth-child(even) {
      padding-right: 16px;
    }
    .card.post-grid-item.post-video-item {
      min-height: 210px;
      .card-img-top {
        height: 120px;
      }
    }
  }
}

.sidebar {
  position: relative;
  ul.side-menu {
    margin-top: 15px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    width: 200px;
    padding: 24px 0 !important;
    li {
      line-height: 50px;
      a {
        line-height: 50px;
        padding: 0 8px;
        &::before {
          content: '◎';
          padding-right: 10px;
          color: #ccc;
        }
      }
      &.active {
        a {
          color: $brandColor;
          &::before {
            color: $brandColor;
          }
        }
      }
    }

    &.side-menu-fixed {
      position: fixed;
      top: 42px;
    }
  }
}

.tabbar-menu {
  background: white;
  border-bottom: 1px solid #f0f0f0;
  overflow: auto;
  white-space: nowrap;
  padding-inline-start: 15px;
  &::-webkit-scrollbar {
    display: none;
  }
  li {
    display: inline-block;
    line-height: 48px;
    margin: 0 15px;
    font-weight: bold;
    opacity: 0.7;

    &.active {
      border-bottom: 2px solid $brandColor;
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
    z-index: 10;
  }
}

.tags {
  margin-bottom: 20px;
  padding-inline-start: 0;
  .tag-item {
    display: inline-block;
    padding: .5em 1em;
    font-size: 14px;
    background: #f4f5f8;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
  }
}

.spage {
  padding-top: 15px;
  min-height: 400px;
  h2 {
    border: none;
    position: relative;
    font-weight: bolder;
    margin: 80px 0 40px 0;
    font-size: 24px;
    z-index: 1;
    &::before {
      content: ' ';
      position: absolute;
      background-image: linear-gradient(-45deg, #FFFAF3 0%, #FFCE94 100%);
      width: 28px;
      height: 20px;
      top: -4px;
      left: -8px;
      width: 28px;
      height: 24px;
      z-index: -1;
      border-radius: 2px;
    }
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 18px;
      padding-left: 8px;      
      &::before {
        left: 0;
        width: 20px;
        height: 16px;
      }
    }
  }
}