---
layout: wide
---

<div class="banner post-banner" style="position: absolute;"></div>

{% for course in site.courses %}
{% if course.items contains page.title %}
  {% assign course=course %}
{% endif %}
{% endfor %}


{% if course %}
<div class="container post" style="position: relative; padding-top: 30px;">
  <div class="row">
    <div class="col-md-9">
      {% if page.video %}
        {% include aliplayer.html source=page.video.source cover=page.cover %}
      {% else %}
        <div style="width: 700px;">
          <div class="cover" style="background-image: url({{ page.cover }})"></div>
        </div>
      {% endif %}

      <article>
        <div class="post-content">
          <div class="page-title">{{ page.title }}</div>
          {% if page.author %}
            <p class="page-subtitle">{{ page.author }}</p>
          {% endif %}
          {{ content }}
        </div>
      </article>
    </div>

    <div class="col-md-3">
      {% for course in site.courses %}
        {% if course.items contains page.title %}
          {% assign course=course %}
        {% endif %}
      {% endfor %}
      {% include course-playlist.html course=course current=page.title %}
    </div>
  </div>
</div>
{% else %}

<div class="container post" style="max-width: 700px;">
  {% if page.video %}
    {% include aliplayer.html source=page.video.source cover=page.cover %}
  {% else %}
    <div style="max-width: 700px;">
      <div class="cover" style="background-image: url({{ page.cover }})"></div>
    </div>
  {% endif %}

  <article>
    <div class="post-content">
      <div class="page-title">{{ page.title }}</div>
      {% if page.author %}
        <p class="page-subtitle">{{ page.author }}</p>
      {% endif %}
      {{ content }}
    </div>
  </article>
</div>

{% endif %}